header{
    height: 160px;
    text-align: center;
    padding: 50px;
    font-size: 54px;
    background-color: bisque;
}

nav{
    background-color: lightblue;   
}

body{
    background-color: beige;
}
.container{
    display: flex ;
}
.content{
    flex: 1;
    float: left;
    background-color:rgb(21, 117, 169);
    text-align: center;
    margin: 10px;
    height: 400px;
    color: white;
}

img{
    height: 350px;
    width: 400px;
}
