header{
    height: 160px;
    text-align: center;
    padding: 50px;
    font-size: 54px;
    background-color: bisque;
}

nav{
    background-color: lightblue;   
}

body{
    background-color: beige;
}